{% extends "base.html" %}

{% load static %}

{% block content %}
<!-- work -->
<div id="work" class="work">
    <div class="container-fluid">
        <div class="row d_flex">
            <div class="col-md-7">
                <div class="titlepage">
                    <h2>My <span class="blu">story</span></h2>
                    <p>Because everyone needs to hear it.</p>
                    <a class="read_more">Read More</a>
                </div>
            </div>
            <div class="col-md-5">
                <div class="work_img">
                    <figure><img src=" {% static 'images/work_img.jpg' %} " alt="#" /></figure>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end work -->
{% endblock %}