{% extends "base.html" %}

{% load static %}

{% block content %}
<!-- banner -->
<div>
   <div id="myCarousel" class="carousel slide banner_main" data-ride="carousel">
      <div class="carousel-inner">
         <div class="carousel-item active">
            <div class="container-fluid">
               <div class="carousel-caption">
                  <div class="row">
                     <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12">
                        <div class="text-bg">
                           <h1>Things can<br>be so much<br>easier.</h1>
                           <p>That's why I decided to spend countless hours developing a website from scratch to
                              consolidate all the cool little things I've made.</p>
                           <a class="read_more" href="#">Learn more</a>
                        </div>
                     </div>
                     <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12">
                        <div class="images_box">
                           <figure><img src=" {% static 'images/img2.png' %} "></figure>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- end banner -->
<!-- about -->
<div id="about" class="about">
   <div class="container-fluid">
      <div class="row d_flex">
         <div class="col-md-5">
            <div class="about_img">
               <figure><img src=" {% static 'images/about_img.jpg' %} " alt="#" /></figure>
            </div>
         </div>
         <div class="col-md-7">
            <div class="titlepage">
               <h2>About <span class="blu">Dashlab</span></h2>
               <p>Dashlab is a cool, silicon valley-esque sounding name that I came up for this website, and for my
                  workings in the tech world. I don't even own any the name in any way, shape, or form! But, I
                  <i>have</i> made a logo.<br>There's quite a few people in the image to the left, but it's really just
                  me in this.
               </p>
               <a class="read_more">Read More</a>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- end about -->
<!-- choose  section -->
<div class="choose ">
   <div class="container">
      <div class="row">
         <div class="col-md-12">
            <div class="titlepage">
               <h2>Why <span class="blu"> Choose Us</span></h2>
            </div>
         </div>
      </div>
   </div>
   <div class="choose_bg">
      <div class="container">
         <div class="row">
            <div class="col-md-12">
               <div class="row">
                  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 padding_right0">
                     <ul class="easy">
                        <li class="active"><a href="#">Easy to cutomize</a></li>
                        <li><a href="#">More flexible</a></li>
                        <li><a href="#">Clean mode</a></li>
                        <li><a href="#">Ratinaready</a></li>
                     </ul>
                  </div>
                  <div class="col-xl-9 col-lg-9 col-md-9 col-sm-12 padding_left0">
                     <div class="choose_box">
                        <i><img src=" {% static 'images/admin.png' %} " alt="#" /></i>
                        <h3> Ad Minim</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                           incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                           exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                           irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                           pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                           deserunt mollit anim id est laborum."</p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- end choose  section -->
<!-- work -->
<div id="work" class="work">
   <div class="container-fluid">
      <div class="row d_flex">
         <div class="col-md-7">
            <div class="titlepage">
               <h2>How To <span class="blu">Works it</span></h2>
               <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                  labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                  laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                  voluptate velit </p>
               <a class="read_more">Read More</a>
            </div>
         </div>
         <div class="col-md-5">
            <div class="work_img">
               <figure><img src=" {% static 'images/work_img.jpg' %} " alt="#" /></figure>
            </div>
         </div>
      </div>
   </div>
</div>
</div>
<!-- end work -->
{% endblock %}