{% extends "base.html" %}

{% load static %}

{% block content %}
<!-- banner -->
<div>
   <div id="myCarousel" class="carousel slide banner_main" data-ride="carousel">
      <div class="carousel-inner">
         <div class="carousel-item active">
            <div class="container-fluid">
               <div class="carousel-caption">
                  <div class="row">
                     <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12">
                        <div class="text-bg">
                           <h1>Things can<br>be so much<br>easier.</h1>
                           <p>That's why I decided to spend countless hours developing a website from scratch to
                              consolidate all the cool little things I've made.</p>
                           <a class="read_more" href="#">Learn more</a>
                        </div>
                     </div>
                     <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12">
                        <div class="images_box">
                           <figure><img src=" {% static 'images/img2.png' %} "></figure>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- end banner -->
<!-- about -->
<div id="about" class="about">
   <div class="container-fluid">
      <div class="row d_flex">
         <div class="col-md-5">
            <div class="about_img">
               <figure><img src=" {% static 'images/about_img.jpg' %} " alt="#" /></figure>
            </div>
         </div>
         <div class="col-md-7">
            <div class="titlepage">
               <h2>About <span class="blu">Dashlab</span></h2>
               <p>Dashlab is a cool, silicon valley-esque sounding name that I came up for this website, and for my
                  workings in the tech world. I don't even own any the name in any way, shape, or form! But, I
                  <i>have</i> made a logo.<br>There's quite a few people in the image to the left, but it's really just
                  me in this.
               </p>
               <a class="read_more">Read More</a>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- end about -->
{% endblock %}