{% extends "base.html" %}

{% load static %}

{% block content %}
<!-- about -->
<div id="about" class="about">
    <div class="container-fluid">
        <div class="row d_flex">
            <div class="col-md-5">
                <div class="about_img">
                    <figure><img src=" {% static 'images/about_img.jpg' %} " alt="#" /></figure>
                </div>
            </div>
            <div class="col-md-7">
                <div class="titlepage">
                    <h2>MPTP <span class="blu">List</span></h2>
                    <ul>
                        {% for object in object_list %}
                        <li>
                            <p>Added {{object.date_added}} - {{ object.name }} ${{ object.mptp }}</p>
                        </li>
                        {% endfor %}
                    </ul>
                    <p><a href="{% url 'upload_file' %}"><u><b>Return to the converter</b></u></a></p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end about -->
{% endblock %}