{% extends "base.html" %}

{% load static %}

{% block content %}
<!-- about -->
<div id="about" class="about">
   <div class="container-fluid">
      <div class="row d_flex">
         <div class="col-md-5">
            <div class="about_img">
               <figure><img src=" {% static 'images/about_img.jpg' %} " alt="#" /></figure>
            </div>
         </div>
         <div class="col-md-7">
            <div class="titlepage">
               <h2>PharmaProgram <span class="blu"><br>Report Converter</span></h2>
               <p>Use the button below to upload the PharmaProgram report that gets sent out on the 1st of each
                  month, then email it to Nadine. Easy, no?</p>
               <!-- Upload form -->
               <form action="{% url 'upload_file' %}" method="post" enctype="multipart/form-data">
                  {% csrf_token %}
                  <p>
                     {{ form.report }}
                  </p>
                  <p><input type="submit" value="Convert" /></p>
                  <p><a href="{% url 'mptplist' %}"><u><b>View current PharmaProgram items and their MPTP</b></u></a>.
                  </p>
               </form>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- end about -->
{% endblock %}