{% extends "base.html" %}

{% load static %}

{% block title %}Sign Up{% endblock %}

{% block content %}
<!-- work -->
<div id="work" class="work">
    <div class="container-fluid">
        <div class="row d_flex">
            <div class="col-md-7">
                <div class="titlepage">
                    <h2>Sign <span class="blu">Up</span></h2>
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button class="read_more" type="submit">Sign Up</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end work -->
{% endblock %}